<div class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Tables</h1>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">DataTables</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table id="example" class="display table table-bordered" style="width:100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>title</th>
                            <th>value</th>
                            <th>image</th>
                            <th>datetime</th>
                            <th>action</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>title</th>
                            <th>value</th>
                            <th>image</th>
                            <th>datetime</th>
                            <th>action</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>

</div>

<!-- Page level plugins -->
<script src="/plugin/sb-admin-2/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="/plugin/sb-admin-2/vendor/datatables/dataTables.bootstrap4.min.js"></script>
<script src="/plugin/datepicker/DateTimePicker.min.js"></script>
<link href="/plugin/datepicker/DateTimePicker.min.css" rel="stylesheet">


<!-- Page level custom scripts -->
<script src="/plugin/sb-admin-2/js/demo/datatables-demo.js"></script>
<script src="/javascripts/user/socket.io.js"></script>
<script src="/javascripts/todo/upload.js"></script>
<script src="/javascripts/todo/todo.js"></script>



<!-- Add Modal-->
<% include modalTodo%>
