<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>

            <div class="container">
                <h1>Edit Profile</h1>
                <hr>
                <div class="row">
                    <!-- edit form column -->
                    <div class="col-lg-12">
                        <!-- <div class="alert alert-info alert-dismissable">
                            <a class="panel-close close" data-dismiss="alert">×</a>
                            <i class="fa fa-coffee"></i>
                            This is an <strong>.alert</strong>. Use this to show important messages to the user.
                        </div> -->
                        <h3>Personal info</h3>
            
                        <form class="form-horizontal" role="form" id="todoform" enctype="multipart/form-data">
                            
                            <div class="form-group">
                                <label class="col-lg-3 control-label">title:</label>
                                <div class="col-lg-12">
                                    <input class="form-control" type="hidden" name="_id" value="">
                                    <input class="form-control" type="text" name="title" value="" placeholder="bé ăn hay uống thứ gì...">
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label class="col-lg-3 control-label">Select Time: </label>
                                <div class="col-lg-12">
                                    <input type="text" name="datetime" class="form-control" data-field="datetime" placeholder="Select Time: YYYY-MM-DD H:i:s" readonly>
                                    <div id="dtBox"></div>
                                </div>
                            </div>
                    
                            <div class="form-group">
                                <div class="text-center">
                                    <!-- <img src="//placehold.it/100" class="avatar img-circle" alt="avatar">
                                    <h6>Upload a different photo...</h6> -->
                                    <div id="progress-wrp">
                                        <div class="progress-bar"></div>
                                        <div class="status">0%</div>
                                    </div>

                                    <input type="hidden" name='image' value="">
                                    <input type="file" id="file-image-todo" class="form-control" name='imageorigin'>
                                </div>
                            </div>

                            
                            <div class="form-group">
                                <label class="col-lg-3 control-label">value:</label>
                                <div class="col-lg-12">
                                    <input class="form-control" type="text" name="value_txt" value="" placeholder="60ml">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <button class="btn btn-primary" type="button" onclick="SaveTodo()">Submit</button>
            </div>
        </div>
    </div>
</div>



