<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="mi-modal">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Confirm</h4>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" id="modal-btn-yes">Yes</button>
          <button type="button" class="btn btn-primary" id="modal-btn-no">No</button>
        </div>
      </div>
    </div>
  </div>
  
<div class="alert" role="alert" id="result"></div>

<script>
    function modalConfirm(callback){
        $("#mi-modal").modal('show');

        $("#modal-btn-yes").on("click", function(){
            callback(true);
            $("#mi-modal").modal('hide');
        });
        
        $("#modal-btn-no").on("click", function(){
            callback(false);
            $("#mi-modal").modal('hide');
        });
    };
</script>